<div class="container bootstrap snippets bootdey">
  <div class="row ng-scope">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="pv-lg">
            <img class="center-block img-responsive img-circle img-thumbnail thumb100" src="/assets/login-img.png" alt="Contact" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="h4 text-center">Information</div>
          <div class="row pv-lg">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <%= form_with(model: patient) do |form| %>
              <div class="row">
                <div class="col-md-6">
                  <%= form.label :firstname, style: "display: block" %> <%= form.text_field :firstname, class:'form-control' %>
                  <p style="color: red;"><%= patient.errors[:firstname]&.first if patient&.errors.any? %></p>
                </div>

                <div class="col-md-6">
                  <%= form.label :lastname, style: "display: block" %> <%= form.text_field :lastname, class:'form-control' %>
                  <p style="color: red;"><%= patient.errors[:lastname]&.first if patient&.errors.any? %></p>
                </div>

                <div class="col-md-6">
                  <%= form.label :mobile_no, style: "display: block" %> <%= form.text_field :mobile_no, class:'form-control' %>
                </div>

                <div class="col-md-6">
                  <%= form.label :email, style: "display: block" %> <%= form.text_field :email, class:'form-control' %>
                </div>

                <div class="col-md-6">
                  <%= form.label :diseases, style: "display: block" %> <%= form.text_field :diseases, class:'form-control' %>
                </div>

                <div class="col-md-6">
                  <%= form.label :appointment_date, style: "display: block" %> <%= form.datetime_field :appointment_date, class:'form-control' %>
                </div>

                <div class="col-md-6">
                  <%= form.label :reference_no, style: "display: block" %> <%= form.text_field :reference_no, class:'form-control' %>
                </div>

                <div class="col-md-6">
                  <%= form.label :pincode, style: "display: block" %> <%= form.number_field :pincode, class:'form-control' %>
                </div>

                <div class="col-md-6">
                  <%= form.label :address, style: "display: block" %> <%= form.text_area :address, class:'form-control' %>
                </div>

                <div class="col-md-6">
                  <%= form.label :special_remarks, style: "display: block" %> <%= form.text_area :special_remarks, class:'form-control' %>
                </div>
              </div>
              <br />
              <div>
                <%= form.submit "Submit", class: "btn btn-xs btn-success" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
