<div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Mobile no</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
      <th scope="col">Appointment date</th>
      <th scope="col">Reference no</th>
      <th scope="col">Diseases</th>
      <th scope="col">Special remarks</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% patients.each_with_index do |record, i| %>
    <tr>
      <% i = i+1 %>
      <th scope="row"><%= i %></th>
      <td><%= record.firstname %></td>
      <td><%= record.lastname %></td>
      <td><%= record.mobile_no %></td>
      <td><%= record.email %></td>
      <td><%= record.address %></td>
      <td><%= record.pincode %></td>
      <td><%= record.appointment_date %></td>
      <td><%= record.reference_no %></td>
      <td><%= record.diseases %></td>
      <td><%= record.special_remarks %></td>
      <td style="
display: -webkit-inline-box;">
        <%= link_to patient_path(record.id) do %>
          <i class="fa fa-info-circle" aria-hidden="true" style="font-size:25px;color:green"></i>
        <% end %> 
        <%= link_to edit_patient_path(record) do %>
          <i class="fa fa-edit"aria-hidden="true" style="font-size:25px;color:blue"></i>
        <% end %>
        <%= button_to patient_path(record), :method => :delete, data: { confirm: 'Are you sure?' }, style:'border: none;' do %>
          <i class="fa fa-trash" aria-hidden="true" style="font-size:25px;color:red"></i>
        <% end %>
            </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
