<div id="<%= dom_id patient %>">
  <p>
    <strong>Firstname:</strong>
    <%= patient.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= patient.lastname %>
  </p>

  <p>
    <strong>Mobile no:</strong>
    <%= patient.mobile_no %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= patient.pincode %>
  </p>

  <p>
    <strong>Appointment date:</strong>
    <%= patient.appointment_date %>
  </p>

  <p>
    <strong>Reference no:</strong>
    <%= patient.reference_no %>
  </p>

  <p>
    <strong>Diseases:</strong>
    <%= patient.diseases %>
  </p>

  <p>
    <strong>Special remarks:</strong>
    <%= patient.special_remarks %>
  </p>

</div>
